[menu footer_menu]
start = "id-19"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu footer_menu_2]
start = "id-26"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "Opt-out here"
link = "/privacy-policy#cookies"
theme = "dark-bottom"

[jumbotron footer_disclimer]
jumbotron = "footer"
background = "transperant"
templates = "template3"
description_limit = 0
==
<div class="container-fluid border-box dark-background">
    {% component 'cookieConsent' %}
    <div class="container">


        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-md-4 col-xs-12 footer-disclaimer-container footer-right-border">
                <div class="row between-xs footer_menu">
                    <div class="col-xs-12 footer-logo-container">
                        <a href="{{'home'|page}}">
                            <img src="{{ 'assets/images/antenna-logo-white.svg'|theme }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-xs-12 start-md center-xs">
                        {% component 'footer_menu' %}
                    </div>
                    <div class="col-md-3 col-xs-12 start-md center-xs">
                        {% component 'footer_menu_2' %}
                    </div>
                    <div class="col-md-6 col-xs-12 social-networks">
                        <div class="col-xs-12 center-xs">
                            <div class="col-xs-12 follow-us">Follow us</div>
                            <div class="col-xs-12 icons">
                                {% if enable_facebook and facebook_url %}
                                <a href="{{facebook_url}}" target="_blank" class="pr p-secondary p-facebook normal" target="_blank"></a>
                                {% endif %}
                                {% if enable_twitter and twitter_url %}
                                <a href="{{twitter_url}}" target="_blank" class="pr p-secondary p-twitter normal" target="_blank"></a>
                                {% endif %}
                                {% if enable_linkedin and linkedin_url %}
                                <a  href="{{linkedin_url}}" target="_blank" class="pr p-secondary p-linkedin normal" target="_blank"></a>
                                {% endif %}
                                {% if enable_youtube and youtube_url %}
                                <a  href="{{youtube_url}}" target="_blank" class="pr p-secondary p-youtube normal" target="_blank"></a>
                                {% endif %}
                                {% if enable_instagram and instagram_url %}
                                <a  href="{{instagram_url}}" target="_blank" class="pr p-secondary p-instagram normal" target="_blank"></a>
                                {% endif %}
                                {% if enable_bluesky and bluesky_url %}
                                <a  href="{{bluesky_url}}" target="_blank" class="pr p-secondary p-bluesky normal" target="_blank"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12 menu_and_powered">
                {% if (footer_funds_flag != null or footer_funds_text != '') %}
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                    {% if footer_funds_flag %}
                    <img class="text mr-0 mr-lg-1" style="height:60px;" src="{{ footer_funds_flag }}"/>
                    {% endif %}
                    <a href="https://www.biodiversa.eu/" target="_blank">
                        <img src="{{ 'assets/images/biodiversa_white.svg'|theme }}" alt="" style="height: 60px;">
                    </a>
                </div>
                <div class="funding-text">
                    <p>
                        This project was funded through the 2022-2023 Biodiversa+ and European Commission joint call for research proposals, under the BiodivMon programme, and with the funding organisations: Deutsche Forschungsgemeinschaft e.V.; BMBF-VDI/VDE INNOVATION + TECHNIK GMBH, Dutch Research Council, Innovation Fund Denmark, Agencia Estatal de Investigación; Fundación Biodiversidad, General Secretariat for Research and Innovation, Agencia Estatal de Investigación; Fundación Biodiversidad, Environmental Protection Agency of Ireland.
                    </p>
                </div>
                {% endif %}
                <div class="row between-xs privacy-row">
                    <div class="privacy-link start-xs">
                        <a href="/privacy-policy">Privacy Policy</a> &nbsp;  &nbsp; 
                        <a href="/accessibility-policy">Accessibility Policy</a>
                    </div>
                    <div class="powered-by start-md start-xs">
                        <span>Designed and powered by <a href="https://pensoft.net/" target="_blank">
                            <img class="pensoft_logo" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" /></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>