url = "/"
layout = "default"
title = "ANTENNA"
is_hidden = 0
meta_description = "The ANTENNA project"
robot_index = "index"
robot_follow = "follow"

[jumbotron mission]
jumbotron = "mission"
title = 0
background = "transperant"
templates = "template1"
description_limit = 0]

==
<?php
use Pensoft\Articles\Models\Article;
use Pensoft\Calendar\Models\Entry;
use Carbon\Carbon;


function onStart(){

    $this['entries'] = Entry::where('end', '>', Carbon::now())->where('show_on_timeline', true)->where('is_internal', false)->orderBy('start', 'asc')->take(3)->get();

    $this['highlights'] = Article::news()->where('published', 'true')->descPublished()->take(3)->get()->map(function($item){
        $item->content = str_limit(strip_tags($item->content), 90);
        $item->href = $item->slug;
        return $item;
    });
}
?>
==

<!-- Mission -->
<div class="container-fluid mission">
    {% component 'mission' %}
</div>

<!-- News -->
{% if highlights.count %}
<div class="container-fluid secondary-background latest-news-container">

    <div class="container mb-0 pb-0">
        <div class="col-xs-12 bubble-title">News</div>
        <div class="row nav-row">
            <div class="col-md-9 col-xs-12">
                <h1>Latest news</h1>
            </div>
            <div class="col-md-3 col-xs-12 view-all-button">
                <a href="{{'news'|page}}" class="btn btn-primary btn-slide btn-ghost">View all news</a>
            </div>
        </div>
    </div>

    <div class="container home-container">
        <div class="row highligts-row">
            <div class="col-md-8 col-xs-12 latest-news">
                {% if highlights|length %}
                <div class="news-card">
                    <div class="img-container">
                        <a href="{{'news'|page}}/{{highlights[0].slug}}">
                            <img src="{{ highlights[0].cover.path }}" alt="{{ highlights[0].title }}">
                        </a>
                        <div class="news-date">
                            <a href="{{'news'|page}}/{{highlights[0].slug}}">
                                {{ highlights[0].published_at|date('d F Y')|upper }}
                            </a>
                        </div>
                        <div class="news-title">
                            <div class="row between-xs title-row">
                                <div class="title">
                                    <a href="{{'news'|page}}/{{highlights[0].slug}}"><h3>{{ highlights[0].title|length > 70 ? highlights[0].title|striptags|slice(0, 70)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : highlights[0].title|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</h3></a>
                                </div>
                                <a href="{{'news'|page}}/{{highlights[0].slug}}" class="read-more"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="col-md-4 col-xs-12 highlight-news">
                {% for article in highlights|slice(1, 2) %}
                <div class="row news-card">
                    <div class="img-container">
                        <a href="{{'news'|page}}/{{article.slug}}">
                            <img src="{{ article.cover.path }}" alt="{{ article.title }}">
                        </a>
                        <div class="news-date">
                            <a href="{{'news'|page}}/{{article.slug}}">
                                {{ article.published_at|date('d F Y')|upper }}
                            </a>
                        </div>
                        <div class="news-title">
                            <div class="row between-xs title-row">
                                <div class="title">
                                    <a href="{{'news'|page}}/{{article.slug}}"><h3>{{ article.title|length > 70 ? article.title|striptags|slice(0, 70)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : article.title|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</h3></a>
                                </div>
                                <a href="{{'news'|page}}/{{article.slug}}" class="read-more"></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- Events -->
{% if entries.count %}
<div class="container-fluid entries-container">
    <div class="container mb-0 pb-0">
        <div class="col-xs-12 bubble-title">Events</div>
        <div class="row nav-row">
            <div class="col-md-9 col-xs-12">
                <h1>Upcoming events</h1>
            </div>
            <div class="col-md-3 col-xs-12 view-all-button">
                <a href="{{'events'|page}}" class="btn btn-primary btn-slide btn-ghost">View all events</a>
            </div>
        </div>
    </div>

    <div class="container home-container">
        <div class="row events-row full-row">
            {% for entry in entries %}
            <div class="col-md-4 col-xs-12 home-event">
                <div class="event-card">
                    <div class="event-card-content">
                        <div class="col-xs-12 event-body">
                            <div class="event-start">
                                {% if entry.start and entry.place %}
                                    {{ entry.start|date("d F Y") }} | {{ entry.place }}
                                {% elseif entry.start %}
                                    {{ entry.start|date("d F Y") }}
                                {% elseif entry.place %}
                                    {{ entry.place }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 event-head">
                            <div class="event-title">{{ entry.title|length > 70 ? entry.title|striptags|slice(0, 70)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : entry.title|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</div>
                        </div>      
                    </div>     
                    <div class="col-xs-12 event-more end-xs">
                        <a href="{{'events'|page}}/{{entry.slug}}" class="read-more"></a>
                    </div>         
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
